.convert-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #f7f7f7;
    padding: 20px;
    margin: 100px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    h2 {
        color: #333;
        margin-bottom: 20px;
        font-size: 1.3em;

        &:last-of-type {
            margin-top: 50px;
        }
    }
}

.convert-box {
    display: flex;
    flex-direction: row;
    

    @media (max-width: 430px) {
        flex-direction: column;
    }
}

.convert {
    margin: 10px;

        label {
            font-weight: bold;
            color: #555;
        }

        input[type="number"] {
            width: 80%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 5px;
            margin-bottom: 10px;

            &:focus {
                border-color: #5a6f64;
                outline: none;
            }
        }

        p {
            font-size: 1em;
            color: #666;
            padding-left: 5px;
        }
}

