<div class="convert-wrapper">
    <h1>Konvertera</h1>

    <h2>Konvertera mellan meter och fot</h2>
    <div class="convert-box">
        <div class="convert">
            <label for="meter">Meter till fot</label>
            <br>
            <!-- Inputfält för meter, uppdaterar värdet och konverterar till fot vid varje inmatning genom metoden 'convertToFeet' -->
            <input type="number" id="meter" [(ngModel)]="meter" (input)="convertToFeet()" placeholder="Ange meter">
            <!-- Visar resultatet om det finns ett värde i feetResult, formaterat med max 2 decimaler -->
            <p *ngIf="feetResult !== null">{{ meter }} meter är {{ feetResult | number:'1.0-2' }} fot</p>
        </div>
        <div class="convert">
            <label for="feet">Fot till meter</label>
            <br>
            <input type="number" id="feet" [(ngModel)]="feet" (input)="convertToMeter()" placeholder="Ange fot">
            <p *ngIf="meterResult !== null">{{ feet }} fot är {{ meterResult | number:'1.0-2' }} meter</p>
        </div>
    </div>
    
    <h2>Konvertera mellan Celsius och Fahrenheit</h2>
    <div class="convert-box">
        <div class="convert">
            <label for="celcius">Celsius till Fahrenheit</label>
            <br>
            <input type="number" id="celcius" [(ngModel)]="celsius" (input)="convertToFahrenheit()" placeholder="Ange Celsius">
            <p *ngIf="fahResult !== null">{{ celsius }} °C är {{ fahResult | number:'1.0-2' }} °F</p>
        </div>

        <div class="convert">
            <label for="fahrenheit">Fahrenheit till Celcius</label>
            <br>
            <input type="number" id="fahrenheit" [(ngModel)]="fahrenheit" (input)="convertToCelsius()" placeholder="Ange Fahrenheit">
            <p *ngIf="celResult !== null">{{ fahrenheit }} °F är {{ celResult | number:'1.0-2' }} °C</p>
        </div>
    </div>
</div>